.row {
	min-height:100%;
}


.background1 {
    background: url(../images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100vm;
}


.background2 {
    background: black;
    background-size: cover;
    height: 100vh;
    width: 100vm;
}

